body {
    background: linear-gradient(180deg, #154B8C 0%, #0B2747 100%);
    height: 1120px;
}

.container {
    width: 1215px;
    margin: 0 auto;
}

.container .logo img {
    width: 151px;
    height: 53px;
    margin-top: 20px;
    position: absolute;
}

.container .header {
    margin-top: 30px;
    float: right;
}

.container .header .menu li {
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.container .header .menu li a {
    text-decoration: none;
    color: white;
}

.container .header .menu li a:hover {
    color: rgb(150, 202, 243);
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 180px;
    position: absolute;
}

.credits {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 280px;
    position:absolute;
}

h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 400px;
    position: absolute;
}

.todayEpiphany {
    margin-top: 240px;
    position:absolute;
}

.forecastEpiphany {
    position: absolute;
    margin-top: 460px;
}

.dateEpi {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color:rgb(238, 213, 74)
}

.nameEpi {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:white;
}





/* *** RESPONSIVE *** */

@media (min-width: 380px) and (max-width: 960px)
{
  body{
    height: 120%;
  }

  .container {
    width: 100%;
  }
  
  /* MENU */
  .container .header .menu li {
    font-size: 14px;
    padding-left: 5px;
  }

  .credits {
    font-size: 15px;
    margin-top: 210px;
  }

  h1{
    font-size: 18px;;
  }

  h2 {
    font-size: 18px;
  }

  .dateEpi {
      font-size: 18px;
      margin-top: 10px;
  }

  .nameEpi {
    font-size: 15px;
}
 
}



